.twitter-typeahead{
    float: left;
}

.twitter-typeahead .tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.twitter-typeahead .tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
    cursor: pointer;
}

.twitter-typeahead .tt-suggestion:hover,
.twitter-typeahead .tt-suggestion:focus,
.twitter-typeahead .tt-suggestion.tt-cursor {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

/*Added to input that's initialized into a typeahead*/
.twitter-typeahead .tt-input {
    line-height: 20px;
    margin-bottom: 3px;
}

/*Added to hint input.*/
.twitter-typeahead .tt-hint {
    line-height: 20px;
}

.tag-list {
    margin: 10px 0;
}

.tag-list li {
    display: inline-block;
    margin-right: 10px;
}

.tag-list li .size4 {
    font-weight: bold;
}

.tag-list li .size2, .tag-list li .size3 {
    color: #666;
}

.tag-list li .size1 {
    color: #aaa;
}